input[type="radio"] {
  display: none;
}

label {
  padding: 1rem;
  background: #eee;
  cursor: pointer;
}

input:checked+label {
  background: white;
  border-bottom: none;
}

.panel {
  display: none;
  padding: 2rem;
}

#tab1:checked~.panel:nth-of-type(1),
#tab2:checked~.panel:nth-of-type(2) {
  display: block;
}