<div id="main">
  <div id="file-block">
    <button (click)="selectFolder()">Select Folder</button>
    <input type="text" [(ngModel)]="selectedFolder" readonly>
    <div id="file-list">
      <select [size]="files.length" [(ngModel)]="selectedFile" *ngIf="files.length" (change)="loadVideo()">
        <option *ngFor="let f of files" [value]="getFileName(f)">{{getFileName(f)}}</option>
      </select>
    </div>
  </div>
  <div id="video-block" *ngIf="selectedFile">
    <div class="video-container">
      <video #videoRef *ngIf="videoSrc" [src]="videoSrc" muted (ended)="autoNext()" (loadeddata)="onLoadedData()"></video>
    </div>
    <div class="video-controls">
      <button (click)="play()">Play</button>
      <button (click)="pause()">Pause</button>
      <button (click)="restart()">Restart</button>
      <button (click)="previous()">Previous</button>
      <button (click)="next()">Next</button>
    </div>
  </div>
</div>