#main {
    display: flex;
    align-items: center;
    margin-top: 20px;
}

#file-block {
    display: flex;
    flex-direction: column;

    #file-list {
        margin-top: 10px;
        width: 20rem;
    }
}

#video-block {
    max-width: 800px;
    max-height: 800px;

    video::-webkit-media-controls {
        display: none !important;
    }

    video::-webkit-media-controls-enclosure {
        display: none !important;
    }

    video::-webkit-media-controls-panel {
        display: none !important;
    }

    video {
        width: auto;
        height: auto;
        max-width: 100%;
        display: block;
    }
}