<div id="main">
  <div id="file-block">
    <button (click)="selectFolder()">Select Folder</button>
    <input type="text" [(ngModel)]="selectedFolder" readonly>
    <div id="file-list">
      <select [size]="files.length" [(ngModel)]="selectedFile" *ngIf="files.length" (change)="loadVideo()">
        <option *ngFor="let f of files" [value]="getFileName(f)">{{getFileName(f)}}</option>
      </select>
    </div>
  </div>
  <div id="video-block" *ngIf="selectedFile">
    <video *ngIf="videoSrc" [src]="videoSrc" autoplay muted></video>
  </div>
</div>