<!-- app.component.html -->
<input type="text" [(ngModel)]="apiKey" placeholder="Api Key">
<br />
<input type="file" (change)="onCharacterFileChange($event)">
<br />
<input type="file" multiple (change)="onPipelineFileChange($event)">
<br />
<button (click)="processPipeline()">Send</button>
<br />
<img *ngIf="imageBase64" [src]="'data:image/jpeg;base64,' + imageBase64" alt="Uploaded Image" width="200">
<div *ngFor="let response of pipelineResponses" [innerHTML]="response"></div>
<div *ngIf="error">{{error}}</div>